extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Brands
include mixins/home/landing/Solutions
include mixins/home/landing/Portfolio
include mixins/home/landing/ContactForm
include mixins/home/landing/Footer
include mixins/common/SectionTitle

append variables
  - var currentPage = 'index'

append styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)

append content
  +HeroHeader
  +Brands
  +Solutions
  +Portfolio
  +ContactForm
  +Footer
