mixin Navbar
  nav.navbar.navbar-light.sticky-top(data-navbar-darken-on-scroll="900")
    .container.pt-2
      a.navbar-brand(href='/')
        img.img-logo(src=`${CWD}assets/img/logo.png` alt='wolfnetics logo')
      .navbar-nav.ms-auto
        a.btn.btn-secondary.d-none.d-sm-block(href='#contact-form') Contact us
        a.icon-link.text-300.d-block.d-sm-none(href='#contact-form' aria-label='Contact us')
          i(class='bi bi-envelope fs-4' role='img')
