mixin Navbar
  nav.navbar.navbar-light.sticky-top(data-navbar-darken-on-scroll="900")
    .container.pt-2
      a.navbar-brand(href='/')
        img(src=`${CWD}assets/img/logo.png` alt='wolfnetics logo')
      .navbar-nav.ms-auto
        a.btn.btn-secondary(href='#contact-form') Contact Us
